<footer class="footer" id="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <section class="t3-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 copyright">
                            <div class="custom">
                                <div class="col-md-7 text-center">
                                    <p class="divisions-nav">
                                        <a href="http://animalsafety.neogen.com" target="_blank">Animal Safety</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                        <a href="http://careers.neogen.com/" target="_blank">Careers</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                        <a href="http://foodsafety.neogen.com" target="_blank">Food Safety</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                        <a href="http://genomics.neogen.com" target="_blank">Genomics</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                        <a href="http://lifesciences.neogen.com" target="_blank">Life&nbsp;Sciences</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                        <a href="http://toxicology.neogen.com" target="_blank">Toxicology</a>
                                    </p>
                                    <p class=" text-center">© 2017, Neogen Corporation, All Rights Reserved.</p>
                                    <p style="text-align: center;">
                                        <a href="/privacy-notice" target="_blank">PRIVACY&nbsp;NOTICE</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                        <a href="/terms-and-conditions" target="_blank">TERMS&nbsp;&amp;&nbsp;CONDITIONS</a>
                                    </p>
                                </div>
                                <div class="col-md-5">
                                    <p class="social-icons">
                                        <a href="https://www.facebook.com/NeogenCorp/" target="_blank"><img src="~/images/SocialMedia/Facebook.png" alt="Facebook" width="25"></a>&nbsp;
                                        <a href="https://twitter.com/NeogenCorp" target="_blank"><img src="~/images/SocialMedia/Twitter.png" alt="Twitter" width="25"></a>&nbsp;
                                        <a href="https://www.linkedin.com/company/neogen-corporation" target="_blank"><img src="~/images/SocialMedia/Linkedin.png" alt="LinkedIn" width="25"></a>&nbsp;
                                        <a href="https://www.youtube.com/user/neogencorp?feature=results_main" target="_blank"><img src="~/images/SocialMedia/YouTube.png" alt="YouTube" width="25"></a>&nbsp;
                                        <a href="https://www.instagram.com/neogencorp/" target="_blank"><img src="~/images/SocialMedia/instagram.png" alt="Blog" width="25"></a>&nbsp;
                                        <a href="http://blog.neogen.com" target="_blank"><img src="~/images/SocialMedia/blog.png" alt="Blog" width="25"></a>
                                    </p>
                                    <!-- ADDRESS -->
                                    <p class="contact-info">
                                        <strong>Neogen Corporation</strong>
                                        <br>
                                        <i class="fa fa-map-marker"></i>620 Lesher Place • Lansing, MI 48912 USA
                                        <br>
                                        <i class="fa fa-phone"></i>
                                        <strong>800/234-5333</strong>(USA) • 517/372-9200
                                        <br>
                                        <i class="fa fa-fax"></i>Fax: 517/372-2006
                                        <br>
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:corporate@neogen.com">corporate@neogen.com</a>
                                        <br>
                                        <span class="noPrint">
                                            <i class="fa fa-globe"></i>
                                            <a href="http://www.neogeneurope.com" target="_blank">Neogen&nbsp;Europe</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                            <a href="http://www.neogenchina.com.cn" target="_blank">Neogen&nbsp;China</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                            <a href="http://www.neogenindia.com" target="_blank">Neogen&nbsp;India</a>
                                        </span>
                                    </p>
                                </div>
                                <div class="row footer-section-01">
                                    <div class="col-sm-8 col-xs-12">
                                        <!--div style="width: 15px; height: 14px; display: inline-block; content:
                                        '';">&nbsp;</div>
                                        <span class="noPrint">
                                          <a href="http://www.neogenlac.com" target="_blank">Neogen&nbsp;Latinoamérica</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                          <a href="http://www.neogendobrasil.com.br" target="_blank">Neogen&nbsp;do&nbsp;Brasil</a>
                                        </span-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </nav>
    </div>
</footer>
